*{
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}


body{
    background-image:url(./assets/images/bgcows.jpg);
    background-size: cover;
    height: 200vh;
    opacity: 0.8;
    background-color: aliceblue;
    box-sizing: border-box;
    
}

.sect1{
    background-color: beige;
    color: black;
    border-radius: 10px;
    padding-bottom: 30px;
}
.top{
    text-align: left;
    padding: 16px 8px;
    font-size: 30px;
    color: aliceblue;
    display: flex;
      
}

.topnav{
    align-items: right;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 35px;
    font-size: 30px;
    
}

.top h1{
    border: 10px;
    font-size: 60px;
    color: black;
}

#start{
    border: 20px;
    background-color: rgb(244, 194, 68);
    padding: 20px;
    color: black;
    border-radius: 10px;
    margin: auto;
    

}


/* SECTION X */


.sect2{
    border-top: 5px;
    background-color: rgb(165, 165, 165);
    display: flex;
    border-radius: 18px;
    margin-top: 20px;
    display: flex;
}
.stat{
    font-size: xx-large;
    margin-top: 60px;
}

.stat h1{
    margin: 30px;
}
.image{
    /* display: flex;
    justify-content: right; */
    float: right;
    border-radius: 50px;
    width: 50%;
    margin: 28px;
}

.sect3{
    background-color: rgb(165, 165, 165);
}
.user{
    text-align: center;
    font-size: xx-large;
    padding: 50px;
}
.table{
    display: flex;
    font-size: x-large;
    flex-direction: column;
}

#daily{
    display: flex;
    /* flex-direction: column; */
    border: 20px;
    background-color: rgb(69, 69, 69);
    padding: 20px;
    color: black;
    border-radius: 10px;
    /* justify-content: space-around; */
    margin: 20px;
    max-width: 120px;
    
}
.tble{
    /* border: 1px solid black; */
    table-layout: auto;
    width: 500px;
    height: 500px;
    background-color: rgb(243, 245, 246);
    color: black;
    width: 50%;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
} 
.sheds{
    display: flex;
    justify-content: right;
    font-size: xx-large;
    width: 50%;
}
.sales{
    margin: 30px;
    font-size: xx-large;
}
.reports{
    font-size: x-large;
    margin: 10px;
}

/* FOOTER  */

.sect4{
    display: flex;
    font-size: x-large;
    background-color: black;
    color: aliceblue;
    padding: 80px;
}
.foot1{
    margin: 20px;
    padding: 20px;
    font-size: 30px;
}
.foot2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
#stop{
    background-color: rgb(68, 115, 244);
    color: black;
    border-radius: 10px;
}