*{
box-sizing: border-box;
}


body{
    background-image:url(./assets/images/bgcows.jpg);
    background-size: cover;
    height: 150vh;
    opacity: 0.8;
    background-color: aliceblue;
    box-sizing: border-box;
    
}

.sect1{
    background-color: beige;
    color: black;
    border-radius: 10px;
}
.top{
    text-align: left;
    padding: 16px 8px;
    font-size: 30px;
    color: aliceblue;
    display: flex;
      
}

.topnav{
    align-items: right;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 65px;
    font-size: 30px;
    
}

.top h1{
    border: 10px;
    font-size: 60px;
    color: black;
}

#start{
    border: 20px;
    background-color: rgb(244, 194, 68);
    padding: 20px;
    color: black;
    border-radius: 10px;
    margin: auto;
    

}

.tble{
    border: 1px solid black;
    table-layout: auto;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    padding-left: 50px;
    background-color: rgb(243, 245, 246);
    color: black;
}
tr{
    border: 1px solid black;
}

.sect2{
    border-top: 2px;
    background-color: rgb(221, 224, 226);
    display: flex;
    border-radius: 18px;
}
.stat{
    font-size: xx-large;

}
.image{
    /* display: flex;
    justify-content: right; */
    float: right;
    border-radius: 50px;
    width: 50%;
    margin: 28px;
}

.sect3{
    
}